<div class="toolbar_block" style="z-index: 100;">
  <p>(c) All Rights Reserved</p>

  <!--

  {{treeParams.getTreeParametersUrl}} <br><br>

  <div *ngFor="let prms of treeParams.getArraySelectedPrms">
    {{prms.tagName_name}}
  </div>

  <br><br>
  {{ treeParams.markRemoveDateTime }}

  <br><br>
  {{ treeParams.markRemoveSelectedPrms }}

  <br><br><br>


  <div> Массив id выбранных параметров (getSelectedParameters): {{treeParams.getSelectedParameters.length}} </div>

  <br><br><br><br><br><br>

  <div id="one_1" style="width: 350px; background: #fff; margin-left: -20px; margin-bottom: 10px; padding: 0px 10px 0px 10px; ">
    <div style="display: table-row;" *ngFor="let parameter of treeParams.getTreeParameters; let i=index;">
      <div style="display: table-cell;">
        <div style="cursor: pointer;"><a (click)="identif = i+1; unHideTree()" id="arrowOne_{{i+1}}">></a><input id="callObject_{{i+1}}" type="checkbox" (click)="allAttributes(i)" /> {{ parameter.shortDesc }}</div>
        <div id="two_{{i+1}}" style=" margin-left: 20px; ">
          <div style="display: table-row;" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
            <div style="display: table-cell;">
              <div><a>|</a><input id="callParameter_{{parameter.tagName}}_{{i+1}}" type="checkbox" /> {{ descriptionParameter.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  -->

</div>
