.toolbar_block {
  display: block;
  width: 100%;
  float: right;
  background: rgb(245,245,245);
  padding: 10px;
}



.toolbar_template {
  display: inline-block;
  padding: 5px 10px 2px 10px;
  background: rgba(0,0,0,0.0);
  border-top: solid 1px #feb41b;
}

.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
}

.date_width {
  width: 140px;
}

.time_width {
  width: 80px;
  margin-left: 10px;
}

.div_table {
  display: table;
  border-spacing: 3px;
}

.div_table_row {
  display: table-row;
}

.div_table_cell {
  display: table-cell;
}

.instruct_text {
  color: #999;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;
}

.date_time_select {
  width: 250px;
}

.select_department {
  padding: 5px;
}

.start_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  background: #fff;
  transition: 0.5s;
}

  .start_button:hover {
    background: #feb41b;
    color: #fff;
  }


.selector_pages {
  position: relative;
  cursor: pointer;
  margin-top: -50px;
  padding-left: 40px;
}

  .selector_pages a {
    cursor: pointer;
    color: #feb41b;
    padding: 0px 10px 0px 10px;
  }
