


<input id="regulatorWidth" (input)="getRegulatorWidth()" type="range" min="100" max="300" step="10" value="100" style="position: fixed; bottom: 50px; width: 200px; right: 50px; z-index: 999; display: none;">


<div id="schemeWindow" style="position: relative; width: 100%; height: 100%; top: 0px; left: 0px; background: rgb(80, 80, 80); overflow: auto; ">

  <div id="deployButton" (click)="deployScheme()" class="deployButton">
  </div>

 <!--
  <input type="button" value="run" (click)="setUp()" style="position: absolute; top: 10px; right: 150px; z-index: 999;" />
  <input type="button" value="out" (click)="setDown()" style="position: absolute; top: 10px; right: 100px; z-index: 999;" />

  <input type="text" value="{{ks1.run}}" style="position: absolute; top: 10px; right: 220px; z-index: 999; width: 50px;">
  <input type="text" value="{{ks1.boolean}}" style="position: absolute; top: 10px; right: 280px; z-index: 999; width: 50px;">
  -->

  <!--
  <img src="assets/size_templ.png" style="position: relative; width: 100%; top: 0px; left: 0px; z-index: 998;">

  <iframe src="http://zinc-sp2017/intouchweb/api/symbol/home_page" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe>


  <div>{{getHistoryValues['Roasting_Shop.F_sum_sm'][0].val}}</div>
  <div *ngFor="let history of getHistoryValues['Roasting_Shop.F_sum_sm']; let i=index;">
    {{history.val}}
  </div>


  <h5>{{getHistoryValuesUrl}}</h5>

  <div *ngFor=" let chart of arrayForChart ">
    {{chart.val}} _ {{chart.dt}}
  </div>

  <svg id="loadingCharge" class="loadingCharge" style="position: relative; width: 600px; height: 300px;"></svg>

  <input type="button" value="cvg" (click)="chartLoad()">

     -->



<div id="InTouchWeb" style="position: relative; top: 0px; left: 0px; width: 100%; height: auto; ">


  <svg id="obj"
       class="Obj"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 30.6%;
                 left: 13.21%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
  </svg>

  <svg id="Vysh"
       class="Vysh"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 47.4%;
                 left: 23.1%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
  </svg>

  <svg id="Velc"
       class="Velc"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 34.8%;
                 left: 69.8%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
  </svg>

  <svg id="Gidromet"
       class="Gidromet"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 85.25%;
                 left: 39.7%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
  </svg>

  <svg id="KEC"
       class="KEC"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 85.25%;
                 left: 53.3%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
  </svg>


  <img src="assets/scale_screen.png" style="position: relative; top: 0px; left: 0px; width: 100%; ">

  <img src="assets/home3.svg" style="position: absolute; top: 0px; left: 0px; width: 100%;">

  <div id="ks1" style="position: absolute; top: 9.3%; left: 3.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs1()">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks1.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 22.5%;" value="{{ks1_Q_air}}">
  <input id="ks1.Q_air" type="text" class="Q_O2" style="left: 8.4%; top: 22.5%;" value="{{ks1_Q_O2}}">

  <div id="ks2" style="position: absolute; top: 9.3%; left: 14.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs2()">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks2.Q_air" type="text" class="Q_air" style="left: 14.4%; top: 22.5%;" value="{{ks2_Q_air}}">
  <input id="ks2.Q_air" type="text" class="Q_O2" style="left: 19.3%; top: 22.5%;" value="{{ks2_Q_O2}}">

  <div id="ks3" style="position: absolute; top: 9.3%; left: 25.5%; width: 7.9%; height: 12.8%;">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks3.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 22.5%;" value="{{ks3_Q_air}}">
  <input id="ks3.Q_air" type="text" class="Q_O2" style="left: 30.2%; top: 22.5%;" value="{{ks3_Q_O2}}">

  <div id="ks4" style="position: absolute; top: 25.4%; left: 3.6%; width: 7.9%;  height: 12.8%;  ">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks4.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 38.6%;" value="{{ks4_Q_air}}">
  <input id="ks4.Q_air" type="text" class="Q_O2" style="left: 8.4%; top: 38.6%;" value="{{ks4_Q_O2}}">

  <div id="ks5" style="position: absolute; top: 25.4%; left: 25.5%; width: 7.9%; height: 12.8%; ">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks3.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 38.6%;" value="{{ks5_Q_air}}">
  <input id="ks3.Q_air" type="text" class="Q_O2" style="left: 30.2%; top: 38.6%;" value="{{ks5_Q_O2}}">


  <div id="vp1" style="position: absolute; top: 11.75%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp1.T_vg" type="text" class="T_vg" style="left: 36.7%; top: 11.5%;" value="{{vp1_T_vg}}">

  <div id="vp2" style="position: absolute; top: 24.2%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp2.T_vg" type="text" class="T_vg" style="left: 41.9%; top: 11.5%;" value="{{vp2_T_vg}}">

  <div id="vp3" style="position: absolute; top: 36.6%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp3.T_vg" type="text" class="T_vg" style="left: 47.2%; top: 11.5%;" value="{{vp3_T_vg}}">

  <div id="vp4" style="position: absolute; top: 11.75%; left: 67.1%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp4.T_vg" type="text" class="T_vg" style="left: 36.7%; top: 26.3%;" value="{{vp4_T_vg}}">

  <div id="vp5" style="position: absolute; top: 24.2%; left: 81.9%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp5.T_vg" type="text" class="T_vg" style="left: 41.9%; top: 26.3%;" value="{{vp5_T_vg}}">

  <div id="vp6" style="position: absolute; top: 36.6%; left: 81.9%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp6.T_vg" type="text" class="T_vg" style="left: 47.2%; top: 26.3%;" value="{{vp6_T_vg}}">



  <div id="larox1" style="position: absolute; top: 12%; left: 84.8%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox2" style="position: absolute; top: 12%; left: 90.4%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>


  <div id="pump1" style="position: absolute; top: 50.05%; left: 3.2%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump2" style="position: absolute; top: 50.05%; left: 4.8%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump3" style="position: absolute; top: 50.05%; left: 6.4%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump4" style="position: absolute; top: 50.05%; left: 8%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump5" style="position: absolute; top: 50.05%; left: 9.65%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump6" style="position: absolute; top: 50.05%; left: 11.25%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump7" style="position: absolute; top: 50.05%; left: 12.85%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump8" style="position: absolute; top: 50.05%; left: 14.4%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump9" style="position: absolute; top: 50.05%; left: 16.05%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump10" style="position: absolute; top: 50.05%; left: 17.65%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump11" style="position: absolute; top: 50.05%; left: 19.3%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump12" style="position: absolute; top: 50.05%; left: 20.94%; width: 1.36%;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>


  <div id="pump90_1" style="position: absolute; top: 61.7%; left: 67.2%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump90_2" style="position: absolute; top: 54.3%; left: 67.2%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump90_3" style="position: absolute; top: 69.38%; left: 59.4%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_4" style="position: absolute; top: 76.9%; left: 59.4%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump90_5" style="position: absolute; top: 68.85%; left: 32.2%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_6" style="position: absolute; top: 72.7%; left: 32.2%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_7" style="position: absolute; top: 76.45%; left: 32.2%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_8" style="position: absolute; top: 19.65%; left: 4.33%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_9" style="position: absolute; top: 35.65%; left: 4.36%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_10" style="position: absolute; top: 19.65%; left: 15.3%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_11" style="position: absolute; top: 19.65%; left: 26.25%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_12" style="position: absolute; top: 35.75%; left: 26.25%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <div id="thickener1" style="position: absolute; top: 65.7%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener2" style="position: absolute; top: 73.2%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener3" style="position: absolute; top: 80.7%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener4" style="position: absolute; top: 87.8%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="thickener5" style="position: absolute; top: 70.5%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener5_1" style="position: absolute; top: 78%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="thickener5_2" style="position: absolute; top: 85.5%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <div id="larox3" style="position: absolute; top: 67.5%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="larox4" style="position: absolute; top: 67.5%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox5" style="position: absolute; top: 77.4%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox6" style="position: absolute; top: 77.4%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="larox7" style="position: absolute; top: 88.4%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox8" style="position: absolute; top: 88.4%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <div id="water1" style="position: absolute; top: 48%; left: 41.65%; width: 3.95%;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water2" style="position: absolute; top: 49.75%; left: 36.4%; width: 3.95%; opacity: 0.7;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water3" style="position: absolute; top: 44.65%; left: 46.6%; width: 3.95%; opacity: 0.8;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water4" style="position: absolute; top: 71.2%; left: 46.22%; width: 3.95%;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water5" style="position: absolute; top: 74%; left: 40.11%; width: 3.95%; opacity: 0.7;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water6" style="position: absolute; top: 72.5%; left: 52.8%; width: 3.62%;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water7" style="position: absolute; top: 55.18%; left: 52.82%; width: 3.62%;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="water8" style="position: absolute; top: 57.1%; left: 58.25%; width: 3.62%;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>



  <div id="induction_bake1" style="position: absolute; top: 54.8%; left: 81%; width: 16%;">
    <img src="assets/animation/induction_bake/induction_bake_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/induction_bake/induction_bake_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_013.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_014.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="induction_bake2" style="position: absolute; top: 68.7%; left: 81.5%; width: 16%;">
    <img src="assets/animation/induction_bake/induction_bake_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/induction_bake/induction_bake_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_013.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_014.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>

  <div id="induction_bake3" style="position: absolute; top: 82.5%; left: 81.5%; width: 16%;">
    <img src="assets/animation/induction_bake/induction_bake_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_013.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_014.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
  </div>


</div>


  <!--<p>{{serv.runChartLoad}}</p>-->


  <div id="showKs1" style="position: relative; top: 0px; left: 0px; width: 100%; display: none;">
    <app-ks1 (switchBlockAnimation)="switchBlockAnimation($event)"></app-ks1>
  </div>

  <div id="showKs2" style="position: relative; top: 0px; left: 0px; width: 100%; display: none;">
    <app-ks2 (switchBlockAnimation)="switchBlockAnimation($event)"></app-ks2>
  </div>



</div>




