.deployButton {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: solid 2px #feb41b;
  z-index: 999;
  cursor: pointer;
}

.unDeployButton {
  position: fixed;
  right: 50px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: double 5px #feb41b;
  z-index: 999;
  cursor: pointer;
}


.equipmentElement {

}

.equipmentElement:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.Q_air {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.Q_O2 {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(0,255,255);
  font-size: 10px;
}

.T_vg {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(0,255,0);
  font-size: 10px;
}

