@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }


.basic_template {
  background: red;
}

.icon_button {
  background: yellow;
  border-radius: 0px;
}

