<div class="toolbar_block" style="border-bottom: solid 1px #feb41b;">

  <div class="toolbar_template div_table" style="width: 290px; float: left;">
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell" style="font-size: 25px; font-weight: bold; color: #999;">
        {{ title }}
      </div>
    </div>
  </div>

  <div class="toolbar_template div_table" style="width: 290px; float: right;">
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell instruct_text">
        ВЫБОР ПАРАМЕТРОВ
      </div>
    </div>
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell">
        <select class="date_time select_department" style="">
          <option value="select_department" selected>-------------</option>
          <option value="">Обжиговый цех</option>
          <option value="">Сернокислотный цех</option>
          <option value="">Печь КВП-5</option>
          <option value="">Печь КВП-6</option>
        </select>
        <button class="start_button select_department" (click)="getClient()">Вывод</button>
      </div>
    </div>
  </div>


  <div class="toolbar_template div_table" style="width: 250px; float: right; border-right: solid 4px #feb41b;">
    <div class="div_table_row">
      <div class="div_table_cell instruct_text" style="float:left;">
        ЗАВЕРШЕНИЕ
        <input id="dateStop" type="date" class="date_time date_width" style="margin-top: 5px;">
      </div>
      <div class="div_table_cell instruct_text">
        <select class="date_time time_width" style="padding: 2px; float: right;">
          <option value="1" selected>1 смена</option>
          <option value="2">2 смена</option>
          <option style="display: none;" value="3">3 смена</option>
        </select>
        <select id="timeStop" class="date_time time_width" style="padding: 2px; float: right; margin-top: 5px;">
          <option value="00:00">00:00</option>
          <option value="01:00">01:00</option>
          <option value="02:00">02:00</option>
          <option value="03:00">03:00</option>
          <option value="04:00">04:00</option>
          <option value="05:00">05:00</option>
          <option value="06:00">06:00</option>
          <option value="07:00">07:00</option>
          <option value="08:00">08:00</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
          <option value="21:00">21:00</option>
          <option value="22:00">22:00</option>
          <option value="23:00">23:00</option>
        </select>
      </div>
    </div>
  </div>


  <div class="toolbar_template div_table" style="width: 250px; float: right; border-right: solid 4px #feb41b;">
    <div class="div_table_row">
      <div class="div_table_cell instruct_text" style="float:left;">
        НАЧАЛО
        <input id="dateStart" type="date" class="date_time date_width" style="margin-top: 5px;">
      </div>
      <div class="div_table_cell instruct_text">
        <select class="date_time time_width" style="padding: 2px; float: right;">
          <option value="1" selected>1 смена</option>
          <option value="2">2 смена</option>
          <option style="display: none;" value="3">3 смена</option>
        </select>
        <select id="timeStart" class="date_time time_width" style="padding: 2px; float: right;  margin-top: 5px;">
          <option value="00:00">00:00</option>
          <option value="01:00">01:00</option>
          <option value="02:00">02:00</option>
          <option value="03:00">03:00</option>
          <option value="04:00">04:00</option>
          <option value="05:00">05:00</option>
          <option value="06:00">06:00</option>
          <option value="07:00">07:00</option>
          <option value="08:00">08:00</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
          <option value="21:00">21:00</option>
          <option value="22:00">22:00</option>
          <option value="23:00">23:00</option>
        </select>
      </div>
    </div>
  </div>

</div>



<div style="position: relative; left: 0px; top: 0px; height: 550px; width: 100%; z-index: -1;">
  <p style="float: right; margin-right: 50px;">Ширина диапазона: {{ dataLength }}</p>
  <svg class="gant_template" width="100%" height="520"></svg>
</div>





