<div class="header_toggle" (click)="unhideHeadMenu()">
  <div></div>
  <div></div>
  <div></div>
</div>

 <div id="headMenu" class="menu-nav" >
    <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
    <!--<div class="collapse navbar-collapse" id="navbar-main">-->
   <ul class="nav navbar-nav">
     <li id="mnemoscheme">
       <a class="navbar-brand" routerLink="/mnemoscheme/{{pageParams.department}}" (click)="goto('mnemoscheme'); unhideHeadMenu()">МНЕМОСХЕМА</a>
     </li>
     <li id="specifications">
       <a class="navbar-brand" routerLink="/specifications/{{pageParams.department}}" (click)="goto('specifications'); unhideHeadMenu()">ВВОД ПАРАМЕТРОВ</a>
     </li>
     <li id="archive">
       <a class="navbar-brand" routerLink="/archive/{{pageParams.department}}" (click)="goto('archive'); unhideHeadMenu()">АРХИВ</a>
     </li>
     <li id="workorders">
       <a class="navbar-brand" routerLink="/workorders/{{pageParams.department}}" (click)="goto('workorders'); unhideHeadMenu()">ЗАДАНИЯ</a>
     </li>
     <li id="analytics">
       <a class="navbar-brand" routerLink="/analytics/{{pageParams.department}}" (click)="goto('analytics'); unhideHeadMenu()">АНАЛИЗ</a>
     </li>
     <li id="predictiveanalytics">
       <a class="navbar-brand" routerLink="/predictiveanalytics/{{pageParams.department}}" (click)="goto('predictiveanalytics'); unhideHeadMenu()">ПРОГНОЗИРОВАНИЕ</a>
     </li>
     <li id="reports">
       <a class="navbar-brand" routerLink="/reports/{{pageParams.department}}" (click)="goto('reports'); unhideHeadMenu()">ОТЧЕТЫ</a>
     </li>
     <li id="knowledge">
       <a class="navbar-brand" routerLink="/knowledge/{{pageParams.department}}" (click)="goto('knowledge'); unhideHeadMenu()">БАЗА ЗНАНИЙ</a>
     </li>

     

     
     <!--
     <li style="display: none;">
       {{pageParams.page}} {{pageParams.department}}
     </li>
   -->

   </ul>

    <ul class="nav navbar-nav settings" >
      <li style = "border: solid 1px #eee;">
        <a class="navbar-brand" routerLink="/tools" (click)="unhideHeadMenu()">
          <span class='glyphicon glyphicon-wrench'></span>
        </a>
      </li>
      <li style = "border: solid 1px #eee;">
        <a class="navbar-brand" routerLink="/login" (click)="unhideHeadMenu()">
          <span class='glyphicon glyphicon-off'></span>
        </a>
      </li>
    </ul>
  </div>
