.menu-nav {
  background: red;
  position: relative;
  display: inline-block;
  width: calc(100% - 200px);
  top: 0px;
  left: 200px;
  z-index: 100;
  background-color: white;
  font-family: Calibri;
  color:black;
  border-bottom: solid 2px #eee;
}

.menu-nav-mobile {
  position: absolute;
  padding-bottom: 30px;
  width: 100%;
  left: 0px;
  top: 55px;
  z-index: 2;
  background-color: white;
  font-family: Calibri;
  color: black;
  border-bottom: solid 2px #eee;
  padding-bottom: 30px;
}

ul {
  list-style-type:circle;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
li:hover {
  border-bottom: solid 2px red;
}

  li:active {
    background: #eee;
  }

li a {
  display: block;
  color: #888;
  text-align: center;
  padding: 10px 16px 0px 16px;
  text-decoration: none;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: bold;
}

li a::selection {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px 0px 16px;
  text-decoration: none;
	background-color: white;
	color: red;
}

li a:hover {
  background-color: white;
	color: red;
}

.links_row {
  position: relative;
  width: 90%;
}

.settings {
  float: right;
}

.header_toggle {
  position: fixed;
  padding: 0px 5px 0px 5px;
  top: 15px;
  right: 100px;
  background: #fff;
  width: 30px;
  height: 25px;
  z-index: 1;
  display: none;
  cursor: pointer;
}
.header_toggle div {
  width: 20px;
  height: 3px;
  margin-top: 3px;
  background: #999;
}


@media (max-width: 1900px) {
  .menu-nav {
    width: 87%;
  }
}

@media (max-width: 1800px) {
  .menu-nav {
    width: 86%;
  }
}

@media (max-width: 1500px) {
  .menu-nav {
    width: 85%;
  }
}

@media (max-width: 1080px) {
  .menu-nav {
    width: 90%;
  }
}

@media (max-width: 986px) {
  .menu-nav {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .menu-nav {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .menu-nav {
    display: none;
    position: absolute;
    padding-bottom: 30px;
    width: 100%;
    left: 0px;
    top: 55px;
    z-index: 2;
  }
  li {
    width: 100%;
  }
  .settings {
    float: left;
    padding-top: 10px;
  }

  .settings a {
    padding-top: 10px;
  }

  li a {
    text-align: center;
    padding: 0px 16px 0px 16px;
    font-size: 15px;
  }

  .header_toggle {
    display: block;
  }

  }

@media (max-width: 480px) {
  .links_row {
    width: 70%;
  }
}
