<h1>Отчеты</h1>

<p>{{ splitLink[3] }}</p>

<!--<p>Опубликованные отчеты</p>-->

<p *ngIf="!reports"><em>Загрузка...</em></p>

<table class='table' *ngIf="reports">
  <thead>
    <tr>
      <th>№ пп</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Смена</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of reports">
      <td>{{ report.id }}</td>
      <td>{{ report.name }}</td>
      <td>{{ report.date }}</td>
      <td>{{ report.shift }}</td>
      <td>
        <a [routerLink]='["/Report"]'>
          <span class='glyphicon glyphicon-list-alt'></span>{{ report.URL }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
