
<div id="unHiddenToolbar" class="unhidden_toolbar">

  <div class="toolbar_block">

    <div class="toolbar_template div_table title_block">
      <div class="div_table_row" style="vertical-align: bottom;">
        <div class="div_table_cell" style="font-size: 25px; font-weight: bold; color: #999;">
          {{ title }}
        </div>
      </div>
    </div>

    <div class="tools_block">
      <div class="toolbar_template div_table select_prmt">
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell instruct_text">
            ВЫБОР ПАРАМЕТРОВ
          </div>
        </div>
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell" style="position: relative; ">

            <div style="position: absolute; top: 0px; left: 0px; height: auto; color: #999; font-size: 13px; color: #333; z-index: 1;">


              <div style="width: 150px;" (click)="treeParameters()">
                <div id="rolloverDown">
                  <div class="date_time" style="border-bottom: solid 1px #feb41b;  margin-top: 8px;"></div>
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-top: 10px solid #feb41b;"></div>
                </div>
                <div id="rolloverUp" style="display: none;">
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-bottom: 10px solid #feb41b;"></div>
                  <div class="date_time" style="border-bottom: solid 1px #feb41b; "></div>
                </div>
              </div>



              <div id="one_1" style="display: none; width: 350px; background: #fff; margin-left: -20px; margin-bottom: 10px; padding: 0px 10px 0px 10px; ">
                <div style="display: table-row;" *ngFor="let parameter of arrayParameters; let i=index;">
                  <div style="display: table-cell;">
                    <div style="cursor: pointer;"><a (click)="identif = i+1; unHideTree()" id="arrowOne_{{i+1}}" class="arrow">></a><input id="callObject_{{i+1}}" type="checkbox" (click)="allAttributes(i); treeParams.toggleMarkRemoveSelectedPrms()" class="checkbox_prmt" /> {{ parameter.shortDesc }}</div>
                    <div id="two_{{i+1}}" style="display: none; margin-left: 20px; ">
                      <div style="display: table-row;" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
                        <div style="display: table-cell;">
                          <div><a class="arrow">|</a><input id="callParameter_{{parameter.tagName}}_{{i+1}}" type="checkbox" class="checkbox_prmt" (click)="treeParams.toggleMarkRemoveSelectedPrms()" /> {{ descriptionParameter.description }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <button class="start_button select_department" (click)="getClient()">Вывод</button>
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table stop_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            ЗАВЕРШЕНИЕ
            <input id="dateStop" type="date" (click)="treeParams.toggleMarkRemoveDateTime()" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option style="display: none;" value="3">3 смена</option>
            </select>
            <select id="timeStop" class="date_time time_width" (click)="treeParams.toggleMarkRemoveDateTime()" style="padding: 2px; float: left; margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStop" (click)="treeParams.toggleMarkRemoveDateTime()" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table start_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            НАЧАЛО
            <input id="dateStart" type="date" (click)="treeParams.toggleMarkRemoveDateTime()" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option style="display: none;" value="3">3 смена</option>
            </select>
            <select id="timeStart" class="date_time time_width" (click)="treeParams.toggleMarkRemoveDateTime()" style="padding: 2px; float: left;  margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStart" (click)="treeParams.toggleMarkRemoveDateTime()" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="hidden_toolbar">
  <div class="toolbar_template div_table" style="width: 100%;">
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell" style="font-size: 25px; font-weight: bold; width: 100%; color: #999;">
        <span id="toolbarTitle">{{ title }}</span>
        <div class="toolbar_toggle" (click)="unHideToolbarMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--
<div style="height: 50px;">{{getHistoryValuesUrl + '/' + selected_prms + '/' + startDateTime + '/' + stopDateTime}}</div>
  -->
<br>
<br>
<br>


<div id="headerFixedRow" style="position: fixed; display: block; top: 0px; left: 200px; width: calc(100% - 200px); height: 31px; box-shadow: 0 0 20px rgba(0,0,0,0.2); border-bottom: solid 1px #feb41b; z-index: 5; opacity: 0;">

  <div style="position: absolute; background: #fff; display: block; top: 0px; left: 0px; box-shadow: 0 0 20px rgba(0,0,0,0.2); z-index: 3;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #eee; position: relative; cursor: pointer;" (click)="outTest();">
          <div style="width: 50px; font-weight: bold; color: #999;">№</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">Время</div>
        </div>
      </div>
    </div>
  </div>

  <div id="scrollHeaderRow" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 30px; overflow: hidden; z-index: 1;">
    <div id="arrayTagRow" style="position: absolute; background: #fff; top: 0px; left: 150px;">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let tagRow of treeParams.getArraySelectedPrms; let i=index;" style="padding-top: 3px; text-align: center; height: 30px; border-left: solid 1px #eee; border-bottom: solid 1px #feb41b; position: relative;">
            <div class="row_description">
              {{tagRow.description}}
              <a style="display: none;">{{tagRow.shor_desc}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="position: relative; width: 100%; height: 70px; z-index: 0;"></div>  <!--шаблон просто так-->



<div style="position: relative; display: block; top: 0px; width: 100%; margin-bottom: 10px;">

  <div id="leftRightScroll" class="left_right_scroll" style="position: absolute; right: 0px; top: 0px; " (mousedown)="tPermission=0; leftScroll()" (mouseup)="tPermission=1"></div>
  <div class="left_right_scroll" style="position: absolute; left: 150px; top: 0px; " (mousedown)="tPermission=0; rightScroll()" (mouseup)="tPermission=1"></div>


  <div style="position: absolute; background: #fff; display: block; top: 0px; left: 0px; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); z-index: 3;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #eee; position: relative; cursor: pointer;" (click)="outTest();">
          <div style="width: 50px; font-weight: bold; color: #999;">№</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">Время</div>
        </div>
      </div>
    </div>
  </div>


  <div id="arrayTimeCell" style="position: absolute; display: inline-block; margin-left: -0px; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.2); top: 31px; left: 0px; z-index: 2;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row" *ngFor="let time of arrayCellTime; let i=index;">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; border-right: solid 1px #eee; position: relative;">
          <div style="width: 50px; font-weight: bold; color: #999;">{{i+1}}</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">{{time.dt}}</div>
        </div>
      </div>
    </div>
  </div>


  <div id="archiveWindow"
       style="    display: block;
    position: relative;
    width: 100%;
    height: 0px;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 0px;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #feb41b;
    border-right: solid 1px #eee;
    z-index: 1;"
       (scroll)="synchroScroll()">

    <!--
    <div style="position: absolute; top: 100%; width: 100%; height: 10px; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.3); z-index: 3;"></div> <!--нижняя тень-->
    <!--
    <div id="bottomScroll" class="top_bottom_scroll" style="position: absolute; bottom: 0px;" (mousedown)="tPermission=0; bottomScroll()" (mouseup)="tPermission=1"></div>
    <div class="top_bottom_scroll" style="position: absolute; top: 30px;" (mousedown)="tPermission=0; topScroll()" (mouseup)="tPermission=1"></div>
      -->


    <div id="arrayTagRow" style="position: absolute; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.2); top: 0px; left: 150px; z-index: 1; ">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let tagRow of treeParams.getArraySelectedPrms; let i=index;" style="padding-top: 3px; text-align: center; height: 30px; border-left: solid 1px #eee; border-bottom: solid 1px #feb41b; position: relative;">
            <div class="row_description">
              <a style="display: none; margin-left: 20px;">{{tagRow.shor_desc}}</a>
              {{tagRow.description}}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="arrayValues" style="position: relative; margin-bottom: 30px; display: inline-block; top: 30px; left: 150px; z-index: 0; ">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let prms of treeParams.getArraySelectedPrms; let i=index;" style="border: solid 1px #eee;">
            {{ prms.shor_desc }}
            <div class="div_table" style="border-collapse: collapse;">
              <div class="div_table_row" *ngFor="let valPrms of prms.historyValues; let j=index; ">
                <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; position: relative;">
                  <div style="width: 100px;">{{valPrms.val}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<!--
  <div class="div_table header_table">
    <div class="div_table_row">
      <div class="div_table_cell cell_1 head_cell">
        № пп
      </div>
      <div class="div_table_cell cell_time head_cell">
        Время
      </div>
      <div class="div_table_cell cell_value head_cell">
        Процес 1
      </div>
      <div class="div_table_cell cell_value head_cell">
        Процес 2
      </div>
      <div class="div_table_cell cell_value head_cell">
        Процес 3
      </div>
      <div class="div_table_cell cell_value head_cell">
        Процес 4
      </div>
    </div>
  </div>

  <div class="div_table" style="position: relative; width: 100%; border-spacing: 0px;">
    <div class="div_table_row" *ngFor="let events of data; let i = index">
      <div class="div_table_cell cell_1 for_all_cell">
        {{i+1}}
      </div>
      <div class="div_table_cell cell_time for_all_cell">
        {{ events.dt }}
      </div>
      <div class="div_table_cell cell_value for_all_cell">
        {{ events.value1 }}
      </div>
      <div class="div_table_cell cell_value for_all_cell">
        {{ events.value2 }}
      </div>
      <div class="div_table_cell cell_value for_all_cell">
        {{ events.value3 }}
      </div>
      <div class="div_table_cell cell_value for_all_cell">
        {{ events.value4 }}
      </div>
    </div>
  </div>
-->
