.toolbar_block {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  float: right;
  background: rgba(0,0,0,0.01);
  border-bottom: solid 1px #feb41b;
  margin-bottom: 20px;
}

.toolbar_template {
  display: inline-block;
  padding: 5px 10px 2px 10px;
  background: rgba(0,0,0,0.0);
}

.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
}

.colon {
  margin-left: 6px;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  border: none;
  background: rgba(255,255,255,1);
  width: 10px;
}

.date_width {
  width: 140px;
}

.change_width {
  width: 110px;
  margin-left: 10px;
}

.time_width {
  width: 50px;
  margin-left: 10px;
}

.minut_width {
  width: 40px;
  margin-left: 3px;
}

.div_table {
  display: table;
  border-spacing: 3px;
}

.div_table_row {
  display: table-row;
}

.div_table_cell {
  display: table-cell;
}

.instruct_text {
  color: #999;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;
}

.date_time_select {
  width: 250px;
}

.select_department {
  padding: 5px;
}

.start_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  background: #fff;
  transition: 0.5s;
  float: right;
}

  .start_button:hover {
    background: #feb41b;
    color: #fff;
  }


.selector_pages {
  position: relative;
  padding-left: 40px;
}

  .selector_pages a {
    cursor: pointer;
    color: #feb41b;
    padding: 0px 10px 0px 10px;
  }


.scale_block {
  display: inline-block;
  width: 600px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 40px;
  color: #feb41b;
}
.scale_block_inline {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.scale_button {
  outline: none;
  border: none;
  background: #fff;
  color: #feb41b;
  padding: 0px 7px 0px 7px;
  font-weight: bold;
  font-size: 18px;
}

.scale_button:hover {
  background: #feb41b;
  color: #fff;
}






.over_line {
  stroke: #feb41b;
}
  .over_line:hover {
    stroke: #eee;
  }





.title_block {
  width: 290px;
  float: left;
}

.tools_block {
  position: relative;
  display: block;
  float: right;
  width: auto;
}

.select_prmt {
  width: 290px;
  float: right;
}


.checkbox_prmt {
  border: solid 1px #feb41b;
  background: #feb41b;
  margin-right: 5px;
}

.arrow {
  color: #feb41b;
  padding: 1px 4px 1px 4px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 100%;
}


.start_block {
  width: 250px;
  float: right;
  border-right: solid 4px #feb41b;
}

.stop_block {
  width: 250px;
  float: right;
  border-right: solid 4px #feb41b;
}


.hidden_toolbar {
  display: none;
}

.unhidden_toolbar {
  display: inline-block;
  z-index: 10;
}

.toolbar_toggle {
  position: relative;
  float: right;
  margin-bottom: 20px;
  top: 10px;
  background: #feb41b;
  padding: 0px 5px 0px 5px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.toolbar_toggle div {
  width: 20px;
  height: 3px;
  margin-top: 3px;
  background: #fff;
}



.return_button {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 30px;
  background: #fff;
  border: solid 1px #feb41b;
  border-radius: 5px;
  display: none;
}
  .return_button:hover {
    border: solid 2px #feb41b;
    background: rgb(255, 250, 245 );
  }


.legendColor {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
  .legendColor input {
    position: relative;
    left: -5px;
    top: -5px;
    padding: 0px;
    width: 30px;
    height: 34px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    outline-offset: 0px;
    margin: 0px;
    overflow: hidden;
  }




  @media (max-width: 1900px) {
  }


  @media (max-width: 1800px) {
  }

  @media (max-width: 1500px) {
    .title_block {
      width: 250px;
      float: left;
    }
  }

  @media (max-width: 1400px) {
    .tools_block {
      border-top: solid 1px #eee;
      width: 100%;
    }
  }

  @media (max-width: 1250) {
    .scale_block {
      background: #eee;
      display: block;
      margin-top: 20px;
      display: block;
    }
  }

  @media (max-width: 1150px) {
    .select_prmt {
      position: absolute;
    }
  }

  @media (max-width: 1130px) {
    .toolbar_block {
      height: 110px;
    }

    .unhidden_toolbar {
      display: none;
    }

    .hidden_toolbar {
      display: block;
    }

    .tools_block {
      border-top: none;
      left: 0px;
      top: 0px;
    }

    .title_block {
      position: absolute;
      right: 0px;
      text-align: right;
    }

    .start_block {
      position: absolute;
      float: none;
    }

    .stop_block {
      position: absolute;
      float: none;
      top: 50px;
    }

    .select_prmt {
      position: absolute;
      right: 0px;
      top: 50px;
    }
  }

  @media (max-width: 986px) {
  }

  @media (max-width: 870px) {
    .toolbar_block {
      height: 220px;
    }

    .title_block {
      width: 100%;
      left: 0px;
      text-align: center;
    }

    .start_block {
      position: absolute;
      right: 90px;
      top: 100px;
      width: 200px;
      border-right: none;
    }

    .stop_block {
      position: absolute;
      right: 90px;
      top: 160px;
      width: 200px;
      border-right: none;
    }

    .select_prmt {
      position: absolute;
      left: 0px;
      top: 30px;
    }
  }

  @media (max-width: 768px) {
    .toolbar_block {
      height: 110px;
    }

    .tools_block {
      border-top: none;
    }

    .title_block {
      position: absolute;
      left: 0px;
      text-align: left;
    }

    .start_block {
      position: absolute;
      top: 0px;
      border-left: solid 4px #feb41b;
    }

    .stop_block {
      position: absolute;
      top: 50px;
      border-left: solid 4px #feb41b;
    }

    .select_prmt {
      position: absolute;
      left: 0px;
      top: 50px;
    }

    .scale_block {
      width: auto;
      display: block;
    }

    .scale_block {
      display: block;
    }
  }

  @media (max-width: 680px) {
    .toolbar_block {
      height: 220px;
    }

    .title_block {
      width: 100%;
      left: 0px;
      text-align: center;
    }

    .start_block {
      position: absolute;
      right: 90px;
      top: 100px;
      width: 200px;
      border-right: none;
      border-left: none;
    }

    .stop_block {
      position: absolute;
      right: 90px;
      top: 160px;
      width: 200px;
      border-right: none;
      border-left: none;
    }

    .select_prmt {
      position: absolute;
      left: 0px;
      top: 35px;
    }
  }

  @media (max-width: 480px) {
  }

