
<h1 style="margin-left: 40px; color: #777; ">{{title}}</h1>



<div style="position: relative; width: 100%; background: rgba(0, 0, 0, 0.02); padding: 10px 20px 1px 20px;">

  <p style="font-weight: bold; font-size: 20px; color: #999">Показательные периоды</p>

  <div id="filterActive" style="position: absolute; bottom: 0px; right: 60px; width: 20px; height: 17px; background: #feb41b; z-index: 1;"></div>

  <div (click)="getFilterActive($event); hiddenPositive(); unHiddenNegative()" class="filter_button" style="right: 30px; bottom: 7px; background: rgb(255, 0, 0); opacity: 0; z-index: 3; "></div>
  <div class="filter_button" style="right: 30px; bottom: 7px; background: rgb(255, 0, 0); font-weight: bold; color: #fff; padding-left: 2px; z-index: 2;">
    <div style="position: absolute; width: 70%; height: 15%; left: 13%; top: 45%; background: #fff;"></div>
  </div>

  <div (click)="getFilterActive($event); unHiddenPositive(); unHiddenNegative()" class="filter_button" style="right: 60px; bottom: 7px; background: #feb41b; opacity: 0; z-index: 3; "></div>
  <div class="filter_button" style="right: 60px; bottom: 7px; background: #feb41b; font-weight: bold; color: #fff; padding-left: 2px; z-index: 2;">
    <div style="position: absolute; width: 70%; height: 15%; left: 13%; top: 30%; background: #fff;"></div>
    <div style="position: absolute; width: 70%; height: 10%; left: 13%; top: 60%; background: #fff;"></div>
  </div>

  <div (click)="getFilterActive($event); unHiddenPositive(); hiddenNegative()" class="filter_button" style="right: 90px; bottom: 7px; background: rgb(0, 200, 0); opacity: 0; z-index: 3; "></div>
  <div class="filter_button" style="right: 90px; bottom: 7px; background: rgb(0, 200, 0); font-weight: bold; color: #fff; padding-left: 2px; z-index: 2;">
    <div style="position: absolute; width: 70%; height: 15%; left: 13%; top: 45%; background: #fff;"></div>
    <div style="position: absolute; width: 15%; height: 70%; left: 42.5%; top: 15%; background: #fff;"></div>
  </div>

  <div id="bottomHeader" style="position: absolute; margin-left: -20px; width: 100%; height: 2px; background: #feb41b; bottom: -2px;"></div>

</div>




<div *ngFor="let sample of sample; let i=index;">

  <div class="{{sample.className}}" (click)="triangle = i; deploySample();">
    <div style="display: table-row">
      <div style="display: table-cell; width: 30px;">
        <span class="all_span" style="margin-right: 20px;">
          {{i+1}}
        </span>
      </div>
      <div style="position: relative; display: table-cell; width: 60px; height: 100%; ">
        <div class="triangle"></div>
      </div>
      <div style="    display: table-cell; width: 250px;">
        <span class="all_span" style=" padding: 0px 30px 0px 0px;">
          {{sample.shortDesc}}
        </span>
      </div>
      <div style="display: table-cell; width: 160px">
        <span class="all_span">
          {{sample.beginning}}
        </span>
      </div>
      <div style="display: table-cell; width: 50px;">
        <span class="all_span" style="padding: 0px 10px 0px 10px;">
          &#8212;
        </span>
      </div>
      <div style="display: table-cell;">
        <span class="all_span">
          {{sample.end}}
        </span>
      </div>
      <div style="display: table-cell;">
        <div class="filter_button" style="background: #fff; right: 20px; bottom: 9px; font-size: 20px; font-weight: bold; padding-left: 5px; color: #888;">
          <i style="position: absolute; top: -4px; left: 4px;">
            &#215;
          </i>
        </div>
      </div>
    </div>

  </div>


  <div class="list_prms">
    <div class="object_header">
      <div style="font-weight: bold; font-size: 30px; color: #feb41b; float: left; margin-top: -10px;">
        >
      </div>
      <div style="display: table; margin: 0 auto;">
        Параметры
      </div>
    </div>
    <div *ngFor="let prmName of sample.attributes; let j=index;" style="border-bottom: solid 1px #eee;">
      <div class="row_prm" (click)="currentPrm=(i+1)+'_'+(j+1); deployParameter()">
        <div id="prm_triangle_{{i+1}}_{{j+1}}" style="font-size: 25px; color: #feb41b; float: left; margin-top: -5px; margin-right: 20px;">
          >
        </div>
        {{prmName.description}}
      </div>
      <div id="prm_{{i+1}}_{{j+1}}" class="deploy_row_prm">
        
      </div>
    </div>
  </div>

</div>







<!--

<div *ngFor="let parameter of arrayParameters; let j=index;">

  <div class="positive_period" (click)="triangle = j; deploySample();">
    <div style="display: table-row">
      <div style="display: table-cell; width: 30px;">
        <span class="all_span" style="margin-right: 20px;">
          {{j+1}}
        </span>
      </div>
      <div style="position: relative; display: table-cell; width: 60px; height: 100%; ">
        <div class="triangle"></div>
      </div>

      <div style="    display: table-cell; width: 250px;">
        <span class="all_span {{ parameter.tagName }}" style=" padding: 0px 30px 0px 0px;">
          {{ parameter.shortDesc }}
        </span>
      </div>

      <div style="display: table-cell; width: 160px">
        <span class="all_span">
          13.09.2019 10:45
        </span>
      </div>
      <div style="display: table-cell; width: 50px;">
        <span class="all_span" style="padding: 0px 10px 0px 10px;">
          &#8212;
        </span>
      </div>
      <div style="display: table-cell;">
        <span class="all_span">
          16.09.2019 17:53
        </span>
      </div>

    </div>
  </div>

  <div class="list_prms">

    <div class="object_header">
      <div style="font-weight: bold; font-size: 30px; color: #feb41b; float: left; margin-top: -10px;">
        >
      </div>
      <div style="display: table; margin: 0 auto;">
        Параметры
      </div>
    </div>

    <div class="div_table_row" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
      <div class="row_prm" (click)="currentPrm=(i+1)+'_'+(j+1); deployParameter()">
        <div id="prm_triangle_{{j+1}}_{{i+1}}" style="font-size: 25px; color: #feb41b; float: left; margin-top: -5px; margin-right: 20px;">
          >
        </div>
        {{ descriptionParameter.name }} {{ descriptionParameter.description }}
      </div>
      <div id="prm_{{i+1}}_{{j+1}}" class="deploy_row_prm">

      </div>
    </div>

  </div>

</div>

    -->








  <!--


  <div id="predictWindow" style="position: relative; display: block; width: 100%; z-index: 0">
    <div style="position: relative; color: #999; width: 100%; height: 100%; overflow: auto; padding: 5px 5px 5px 5px; color: #333; z-index: 999;">

      <div id="one_1" class='div_table' style="position: relative; width: 100%; border-spacing: 0px; ">
        <div style="display: block; width: 100%;" *ngFor="let parameter of arrayParameters; let j=index;">

          <div class="head_tab" (click)="identif = j+1; unHideTree()">
            <a id="arrowOne_{{j+1}}" class="arrow">
              >
            </a>
            <span style=" font-weight: bold; color: #999;">{{ parameter.tagName }} {{ parameter.shortDesc }}</span>
          </div>
          <div id="two_{{j+1}}" style="display: none; width: 100%; border-spacing: 0px; ">
            <div class="div_table_row" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
              <div class="div_table_cell for_all_cell cell_1">

                {{ i+1 }}

              </div>
              <div class="div_table_cell for_all_cell cell_2">
                <p>{{ descriptionParameter.name }} {{ descriptionParameter.description }}</p>
              </div>
              <div class="div_table_cell for_all_cell medium_cell"><input type="text" class="date_time field_width" /></div>
              <div class="div_table_cell for_all_cell right_cell_1"><span class="p_values">Min: </span><span>min</span></div>
              <div class="div_table_cell for_all_cell right_cell_2"><span class="p_values">Max: </span>max</div>

              <div class="div_table_cell for_all_cell right_cell_3">
                <span class="p_values">Архив: </span>
                <span style="color: #feb41b; cursor: pointer;" class='glyphicon glyphicon-th-list'></span>
                <a class="plus_parameters" id="addParams_{{j+1+'_'+(i+1)}}" (click)="idAdd=j+1+'_'+(i+1); openFormAddParameters()">+</a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


    -->
