<!--<iframe src="{{url}}" width="100%" height="100%"></iframe>-->

<div style="position: relative; width: 100%; top: 0px; left: 0px;">
  <img src="assets/size_templ.png" style="position: relative; width: 100%; top: 0px; left: 0px;">
  <iframe id="InTouchWeb" [src]="photoURL() | safe: 'resourceUrl'" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
</div>

<div id="inputText" style="position: relative; width: 100%; display: table; margin-top: 20px; margin-bottom: 20px; ">
  <div style="display: table-row; vertical-align: middle;">
    <div style="display: table-cell;
    width: 10%;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 20px;
    ">
      Дополнительная <br> информация:
    </div>
    <div style="display: table-cell;  ">
      <textarea style="position: relative; width: 100%;">  
      </textarea>
    </div>
  </div>
</div>

