.div_table {
  display: table;
  border-spacing: 3px;
}

.div_table_row {
  display: table-row;
}

.div_table_cell {
  display: table-cell;
}


.left_right_scroll {
  width: 40px;
  height: 100%;
  background: rgba(0,0,0,0.0);
  z-index: 3;
  transition: 0.2s;
}

  .left_right_scroll:hover {
    background: rgba(0,0,0,0.1);
  }

.top_bottom_scroll {
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,0.0);
  z-index: 3;
}

  .top_bottom_scroll:hover {
    background: rgba(0,0,0,0.1);
  }
