<div id="unHiddenToolbar" class="unhidden_toolbar" style="z-index: 10">

  <div class="toolbar_block">

    <div class="toolbar_template div_table title_block">
      <div class="div_table_row" style="vertical-align: bottom;">
        <div class="div_table_cell" style="font-size: 25px; font-weight: bold; color: #999;">
          {{ title }}
        </div>
      </div>
    </div>

    <div class="tools_block">
      <div class="toolbar_template div_table select_prmt">
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell instruct_text">
            ВЫБОР ПАРАМЕТРОВ
          </div>
        </div>
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell" style="position: relative; ">

            <div style="position: absolute; top: 0px; left: 0px; height: auto; color: #999; font-size: 13px; color: #333; z-index: 5;">


              <div style="width: 150px;" (click)="treeParameters()">
                <div id="rolloverDown">
                  <div class="date_time" style="border-bottom: solid 1px #feb41b;  margin-top: 8px;"></div>
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-top: 10px solid #feb41b;"></div>
                </div>
                <div id="rolloverUp" style="display: none;">
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-bottom: 10px solid #feb41b;"></div>
                  <div class="date_time" style="border-bottom: solid 1px #feb41b; "></div>
                </div>
              </div>



              <div id="one_1" style="display: none; width: 350px; background: #fff; margin-left: -20px; margin-bottom: 10px; padding: 0px 10px 0px 10px; ">
                <div style="display: table-row;" *ngFor="let parameter of arrayParameters; let i=index;">
                  <div style="display: table-cell;">
                    <div style="cursor: pointer;"><a (click)="identif = i+1; unHideTree()" id="arrowOne_{{i+1}}" class="arrow">></a><input id="callObject_{{i+1}}" type="checkbox" (click)="allAttributes(i)" class="checkbox_prmt" /> {{ parameter.shortDesc }}</div>
                    <div id="two_{{i+1}}" style="display: none; margin-left: 20px; ">
                      <div style="display: table-row;" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
                        <div style="display: table-cell;">
                          <div><a class="arrow">|</a><input id="callParameter_{{parameter.tagName}}_{{i+1}}" type="checkbox" class="checkbox_prmt" /> {{ descriptionParameter.description }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <button class="start_button select_department">Вывод</button>
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table stop_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            ЗАВЕРШЕНИЕ
            <input id="dateStop" type="date" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option style="display: none;" value="3">3 смена</option>
            </select>
            <select id="timeStop" class="date_time time_width" style="padding: 2px; float: left; margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStop" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table start_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            НАЧАЛО
            <input id="dateStart" type="date" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option style="display: none;" value="3">3 смена</option>
            </select>
            <select id="timeStart" class="date_time time_width" style="padding: 2px; float: left;  margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStart" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="hidden_toolbar" style="z-index: 10;">
  <div class="toolbar_template div_table" style="width: 100%;">
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell" style="font-size: 25px; font-weight: bold; width: 100%; color: #999;">
        <span id="toolbarTitle">{{ title }}</span>
        <div class="toolbar_toggle" (click)="unHideToolbarMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>


