<h3 style = "background: #fff;" >МНЕМОСХЕМА</h3>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First"><app-alarms></app-alarms></mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
