.base_block {
  position: relative;
  width: 100%;
  top: 0px;
}



.header_table {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 2px 0px 2px 0px;
  background: rgba(0,0,0,0.01);
  border-bottom: solid 2px #eee;
  display: table;
  border-spacing: 3px;
}

.header_table_fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  padding: 2px 0px 2px 0px;
  background: rgba(250,250,250,1);
  border-bottom: solid 1px #feb41b;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: none;
  border-spacing: 3px;
}


.head_cell {
  font-weight: bold;
}

.cell_1 {
  width: 100px;
  padding: 6px 0px 8px 20px;
  position: relative;
}

.cell_2 {
  width: 400px;
}

.medium_cell {
  
}

.right_cell_1 {
  width: 80px;
  color: #feb41b;
}
.right_cell_2 {
  width: 80px;
  color: #feb41b;
}
.right_cell_3 {
  width: 80px;
  color: #feb41b;
}

.plus_parameters {
  position: relative;
  float: right;
  right: 0px;
  bottom: 0px;
  color: #feb41b;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
}

.for_all_cell {
  border-bottom: solid 1px #ccc;
}

.field_width {
  width: 80%;
}


.toolbar_template {
  display: inline-block;
  padding: 5px 10px 2px 10px;
  background: rgba(0,0,0,0.0);
  border-top: solid 1px #feb41b;
}

.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.colon {
  margin-left: 6px;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  border: none;
  background: rgba(255,255,255,1);
  width: 10px;
}

.date_width {
  width: 140px;
}

.change_width {
  width: 110px;
  margin-left: 10px;
}

.time_width {
  width: 50px;
  margin-left: 10px;
}

.minut_width {
  width: 40px;
  margin-left: 3px;
}

.div_table {
  position: relative;
  display: table;
  border-spacing: 3px;
}

.div_table_row {
  display: table-row;
}

.div_table_cell {
  display: table-cell;
  border-bottom: solid 1px #eee;
}


.instruct_text {
  color: #999;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;
}

.date_time_select {
  width: 250px;
}

.select_department {
  padding: 5px;
}

.start_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  background: #fff;
  transition: 0.5s;
}

  .start_button:hover {
    background: #feb41b;
    color: #fff;
  }


.selector_pages {
  position: relative;
  cursor: pointer;
  margin-top: -50px;
  padding-left: 40px;
}

  .selector_pages a {
    cursor: pointer;
    color: #feb41b;
    padding: 0px 10px 0px 10px;
  }

.scale_button {
  outline: none;
  border: none;
  background: #fff;
  border: solid 1px #feb41b;
  color: #feb41b;
  padding: 0px 7px 0px 7px;
  font-weight: bold;
  font-size: 18px;
}

  .scale_button:hover {
    background: #feb41b;
    color: #fff;
  }

.p_values {
  display: none;
}


.input_text {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
}


.form_add_prm {
  position: absolute;
  display: none;
  width: 100%;
  background: rgb(250, 250, 250);
  width: 100%;
  height: 100px;
  top: -200px;
  padding: 0px 20px 0px 20px;
  border-top: solid 4px rgba(0,0,0,0.04);
  border-bottom: solid 4px rgba(0,0,0,0.04);
}

  .form_add_prm div {
    padding: 10px 10px 10px 20px;
    height: 100%;
  }

.close_add_form {
  position: absolute;
  background: #fff;
  padding: 2px 4px 2px 4px;
  top: 0px;
  right: 0px;
  color: #feb41b;
  cursor: pointer;
  display: none;
}

.span_ok_add {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: inline-block;
  width: auto;
}

.ok_add {

}




.arrow {
  color: #feb41b;
  padding: 1px 4px 1px 4px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 100%;
  font-size: 20px;
}

.head_tab {
  background: rgba(0,0,0,0.01);
  margin-bottom: 10px;
  cursor: pointer;
}
  .head_tab:hover {
    background: rgba(0,0,0,0.05);
  }




.array_table {
  position: relative;
  left: -40px;
  top: -10px;
  display: table;
  border-collapse: collapse;
}
.array_table_row {
  display: table-row;
}
.array_table_cell {
  display: table-cell;
  vertical-align: top;
}


.array_button {
  position: relative;
  padding: 5px 10px 5px 10px;
  top: -10px;
  display: inline-block;
  background: #fff;
  border: solid 1px #feb41b;
  border-radius: 5px;
  height: auto;
}





@media (max-width: 1900px) {
}

@media (max-width: 1800px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1360px) {
}

@media (max-width: 1350px) {
  .cell_1 {
    width: 70px;
  }
  .cell_2 {
    width: 350px;
  }
}

@media (max-width: 1300px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1080px) {
  .header_table {
    display: none;
  }
  .div_table {
    display: block;
  }
  .div_table_row {
    position: relative;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    background: rgba(0,0,0,0.01);
    margin-bottom: 10px;
  }
  .div_table_cell {
    position: absolute;
    display: block;
    float: left;
    border-bottom: rgba(0,0,0,0.05);
  }
  .cell_1 {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 10%;
    padding: 0px;
  }
  .cell_2 {
    position: absolute;
    top: 8px;
    left: 10%;
    width: 85%;
    padding: 0px;
  }
  .medium_cell {
    position: absolute;
    width: 100%;
    top: 35px;
  }
  .field_width {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right_cell_1 {
    position: absolute;
    left: 10%;
    bottom: 5px;
  }
  .right_cell_2 {
    position: absolute;
    left: 50%;
    bottom: 5px;
  }
  .right_cell_3 {
    position: absolute;
    right: 10%;
    bottom: 5px;
    text-align: right;
  }
  .p_values {
    display: inline;
  }
  .plus_parameters {
    position: absolute;
    left: 100px;
    top: 0px;
  }

  .form_add_prm {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    z-index: 999;
  }
  .form_add_prm input {
    display: block;
    margin-bottom: 20px;
  }
  .form_add_prm .modalWindow {
    position: relative;
    height: auto;
    width: 370px;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px 40px 30px;
  }
  .close_add_form {
    display: block;
  }
  .span_ok_add {
    width: 100%;
  }
  .ok_add {
    float: right;
  }
  .head_tab {
    background: #fff;
  }

  .array_table {
    display: block;
    left: -70px;
  }
  .array_table_row {
    display: block;
  }
  .array_table_cell {
    display: block;
  }

  .array_button {
    top: 10px;
  }



 }




@media (max-width: 986px) {
}

@media (max-width: 900px) {
}

@media (max-width: 850px) {
}

@media (max-width: 800px) {
  .div_table_row {
    position: relative;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    background: rgba(0,0,0,0.01);
    margin-bottom: 10px;
  }

  .div_table_cell {
    position: absolute;
    display: block;
    float: left;
    border-bottom: rgba(0,0,0,0.05);
  }

  .cell_1 {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 10%;
    padding: 0px;
  }

  .cell_2 {
    position: absolute;
    top: 8px;
    left: 10%;
    width: 85%;
    padding: 0px;
  }

  .medium_cell {
    position: absolute;
    width: 100%;
    top: 35px;
  }

  .field_width {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right_cell_1 {
    position: absolute;
    left: 10%;
    bottom: 5px;
  }

  .right_cell_2 {
    position: absolute;
    left: 40%;
    bottom: 5px;
  }

  .right_cell_3 {
    position: absolute;
    right: 10%;
    bottom: 5px;
  }

}

@media (max-width: 767px) {
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {
}

@media (max-width: 420px) {
  .div_table_row {
    width: 100%;
  }
}



